<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Quotes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <link href="../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/header :: header">
                <p>header with links etc</p>
            </header>
        </div>



        <div class="container">
            <div th:if="${not #lists.isEmpty(quotes)}">
                <h3>Quotes</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Quote</th>
                    </tr>
                    <tr th:each="quote: ${quotes}">
                        <td th:text="${quote.id}"></td>
                        <td th:text="${quote.content}"></td>
                    </tr>
                </table>

            </div>

        </div>

        <div class="container">
            <h4>Post a new quote:</h4>
            <form th:action="@{/quotes}" method="POST">
                ID:
                <input type="text" name="id"/>
                Quote:
                <input type="text" name="content"/>
                <input type="submit" value="Post"/>
            </form>
        </div>
        
    </body>
</html>
